body {
    font-family: "Inter";
    font-size: 32px;
}

/* First Review Box */
.first-testimonial {
    margin-top: 17%;
}

/* First Testimonial  */
.testimony-box {
    position: relative;
    width: 47%;
    left: 6rem;
}
.quotes-pattern {
    position: absolute;
    left: 15%;
    top: 23%;
}
.curve-pattern {
   position: absolute;
   left: -2%;
   bottom: 0;
   z-index: -1;
}
.testimony {
    font-weight: 300;
}
.reviewer-name {
    font-size: 20px;
    color: black;
    display: inline-block;
    font-weight: 700;
}
.reviewer-title {
    font-size: 20px;   
    color: hsl(240, 18%, 77%);
    display: inline-block;
}
.sinclair-img {
    position: absolute;
    top: 8%;
    right: 10%;
    z-index: -1;
}
.bg-pattern {
    position: absolute;
    right: -12%;
    top: -12%;
    z-index: -1;
}

/* Toggle Switch Button */
.icon {
    background-color: #fff;
    border-radius: 25px;
    position: absolute;
    right: 37%;
    bottom: 11%;
    padding: 3px 12px 5px;
}
.icon-toggle {
    cursor: pointer;
    margin: 0 13px;
}

/* Footer Section */
footer {
    position: relative;
    font-size: 12px;
    margin-top: 10%;
    text-align: center;
}

@media screen and (max-width: 998px) {
    .first-testimonial {
        margin-top: 7%;
        text-align: center;
    }
    
    .testimony-box {
        margin-top: 8%;
        left: 0;
        width: 100%;
    }
    .quotes-pattern {
        left: 43%;
        top: 93%;
    }
    .curve-pattern {
       width: 85%;
       position: relative;
       top: 35px;
    }
    .reviewer-name {
        display: block;
        margin: 0;
    }
    .reviewer-title {
        display: block;
        margin-top: 5px;
    }
    .sinclair-img {
        position: relative;
        left: 0;
    }
    .bg-pattern {
        right: 15%;
    }
    
    .icon {
        right: 50%;
        bottom: 10%;
    }
    footer {
        margin-top: 0;
        text-align: center;
    }
}
@media screen and (max-width: 500px) {
    .testimony-box {
        margin-top: 20%;
    }
    .quotes-pattern {
        top: 83%;
    }
    .sinclair-img {
        margin-top: 10%;
    }
    .testi-img {
       width: 100%;
    }
    .bg-pattern {
        top: -10%;
        right: 0;
        width: 125%;
    }
    
    .icon {
        right: 40%;
        bottom: 24%;
    }
    
}